# # Models library
ner_model/

# IDEs dan editor
.idea/
.vscode/
*.swp
*.bak
*.swo

# Sistem operasi
.DS_Store
Thumbs.db
ehthumbs.db
.ntfs-3g/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.egg-info/

# Lingkungan virtual (pilih salah satu, sesuaikan dengan yang Anda gunakan)
.venv
venv/
env/
/venv/

# File data dan log
*.log
*.sqlite3
db.sqlite3
/data/
/logs/

# File rahasia atau konfigurasi lokal
# Ini sangat penting agar kredensial atau API key tidak ter-commit ke Git.
.env
config.json
secrets.py

# google credential
secrets/

# venv local updates
ai_proofread_221025/